<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link
	href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
	rel="stylesheet">
<style>
/*web background*/
.container {
	display: table;
	height: 100%;
}
</style>
<title>学生注册</title>
</head>
<body>
	<div class="container">
		<div class="col-md-6 col-offset-3">
			<h1>注册</h1>
			
			<form class="form-horizontal" role="form" action="/hquer/register"
				th:action="@{/hquer/register}" th:object="${hquer}" method="post"
				th:method="post" enctype="multipart/form-data">
				<div class="form-group row">
					<label for="firstName" class="col-md-3 col-form-label"
						th:classappend="${#fields.hasErrors('firstName')}?'badge badge-danger'">姓：</label>
					<div class="col-md-9">
						<input type="text" class="form-control" id="firstName"
							placeholder="请输入姓"  th:field="*{firstName}"
							th:classappend="${#fields.hasErrors('firstName')}?'text-danger'">
					</div>
				</div>
				<div class="form-group row">
					<label for="lastName" class="col-md-3 col-form-label"
						th:classappend="${#fields.hasErrors('lastName')}?'badge badge-danger'">名：</label>
					<div class="col-md-9">
						<input type="text" class="form-control" id="lastName"
							placeholder="请输入名"  th:field="*{lastName}"
							th:classappend="${#fields.hasErrors('lastName')}?'text-danger'">
					</div>
				</div>
				<div class="form-group row">
					<label for="address" class="col-md-3 col-form-label"
						th:classappend="${#fields.hasErrors('address')}?'badge badge-danger'">现住址：</label>
					<div class="col-md-9">
						<input type="text" class="form-control" id="address"
							placeholder="请输入现住址"  th:field="*{address}"
							th:classappend="${#fields.hasErrors('address')}?'text-danger'">
					</div>
				</div>
                <div class="form-group row">
					<label for="tel" class="col-md-3 col-form-label"
						th:classappend="${#fields.hasErrors('tel')}?'badge badge-danger'">电话：</label>
					<div class="col-md-9">
						<input type="tel" class="form-control" id="tel"
							placeholder="请输入电话"  th:field="*{tel}"
							th:classappend="${#fields.hasErrors('tel')}?'text-danger'">
					</div>
				</div>
				                <div class="form-group row">
					<label for="date" class="col-md-3 col-form-label"
						th:classappend="${#fields.hasErrors('date')}?'badge badge-danger'">出生日期：</label>
					<div class="col-md-9">
						<input type="date" class="form-control" id="date"
							placeholder="请输入出生日期"  th:field="*{date}"
							th:classappend="${#fields.hasErrors('date')}?'text-danger'">
					</div>
				</div>                
				<div class="form-group row">
					<label for="sex" class="col-md-3 col-form-label"
						th:classappend="${#fields.hasErrors('sex')}?'badge badge-danger'">性别：</label>
					<div class="col-md-9">
						<input type="text" class="form-control" id="sex"
							placeholder="请输入性别"  th:field="*{sex}"
							th:classappend="${#fields.hasErrors('sex')}?'text-danger'">
					</div>
				</div>
				<div class="form-group row">
					<label for="username" class="col-md-3 col-form-label"
						th:classappend="${#fields.hasErrors('userName')}?'badge badge-danger'">学生ID：</label>
					<div class="col-md-9">
						<input type="number" class="form-control" id="username"
							placeholder="请输入学生ID"  th:field="*{userName}"
							th:classappend="hlo[i].getId()">//添加自动分配的ID
					</div>
				</div>
				<div class="form-group row">
					<label for="password" class="col-md-3 col-form-label"
						th:classappend="${#fields.hasErrors('password')}?'badge badge-danger'">密码：</label>
					<div class="col-md-9">
						<input type="password" class="form-control" id="password"
							placeholder="请输入密码"  th:field="*{password}"
							th:classappend="${#fields.hasErrors('password')}?'text-danger'">
					</div>
				</div>
				<div class="form-group row">
					<input class="btn btn-block" type="submit" value="注册" />
				</div>
			</form>
		</div>
	</div>
</body>
</html>



